* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: arial;
}

.nav_tabs {
  width: 600px;
  height: 400px;
  margin: 100px auto;
  background-color: #fff;
  position: relative;
}

.nav_tabs ul {
  list-style: none;
}

.nav_tabs ul li {
  float: left;
}

.nav_tabs label {
  width: 100px;
  padding: 25px;
  background-color: #363b48;
  display: block;
  color: #fff;
  cursor: pointer;
  text-aling; center;
}

.rd_tabs:checked ~ label{
  background-color: #e54e43;
}
.rd_tabs{
  display: none;
}

.content {
  border-top: 5px solid #e54e43;
  background-color: #fff;
  display: none;
  position: absolute;
  height: 320px;
  width: 600px;
  left: 0;
}

.content article {
  padding: 10px;
}

.rd_tabs:checked ~ .content{
  display: block;
}